<!--- <div>
    <app-widget-realtime></app-widget-realtime>
</div>

<br>

<mat-divider></mat-divider>

<br> -->

<div>
    <app-widget-area label="MICROGRID OPERATION"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="33">
        <app-soc-widget-area label="State of Charge"></app-soc-widget-area>
    </mat-card>
    <mat-card fxFlex="33">
        <app-pv-widget-area label="Photovoltaic Generation"></app-pv-widget-area>
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-pie label="Distributed Energy Sources"></app-widget-pie>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<!---

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">Table</div>
    <div fxFlex="40">
        <app-widget-pie></app-widget-pie>
    </div>
</div>

-->