<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> EMS </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!-- <li>
                    <button mat-icon-button>
                        <mat-icon (click)="playState()">play_circle_filled</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon (click)="stopState()">pause_circle_outline</mat-icon>
                    </button>
                </li>
                <a href="https://drive.google.com/file/d/1lF4KaqGV4E39060KuwcBit63C89CMii2/view?usp=sharing" target="_self" download> -->
                <li>
                    <a href="/assets/Manual_de_usuario_software_gestao_microrredes.pdf" style="color: white;" target="_self" download>User Manual</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>