<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Microgrid Energy Management System</h2>
        </div>
        <img src="/assets/images/merge-logo.png" alt="" style="width:250px; height:100px;">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Energy Prices</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dispatch">Day-ahead Dispatch</a>
    
    <h2 matSubheader>Partners</h2>

</mat-nav-list>